@import "tailwindcss";

.footer-title-color {
    @apply text-cyan-400;
}

.footer-bg {
    /* @apply bg-linear-to-tr from-slate-900 via-blue-800 to-slate-900 */
    @apply bg-linear-to-br from-slate-900 via-slate-800 to-slate-900
}

.footer-icon {
    @apply w-8 h-8 bg-slate-800 rounded-2xl flex items-center justify-center text-slate-300 transition-all duration-300 hover:bg-slate-700 hover:scale-120 hover:shadow-lg
}

.footer-icon2 {
    @apply text-gray-300 transition-all duration-300 hover:scale-120 hover:shadow-lg
}